.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151f5b;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  text-decoration: underline;
}

.navbar .main a {
  font-size: larger;
  color: rgb(255, 251, 0);
}

.navbar {
  margin-bottom: 20px;
}
